         
.titulo_secundario{
    background-color: #2F4F2F; 
    color: white;
}

#titulo_principal{
    background-color: #8B6F1E;
    color: white;
}

#layout{
    display:flex;
}
.rodape{
    text-align: center;
}
body{
    background-color: #000;
    color: rgb(rgb(233, 0, 0), green, blue);
    font-family: "roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    font-weight: 100;
    text-transform: none;
    text-decoration: none;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-indent: 15px;
    text-align: justify;
}
